{% extends 'bases/base_asistente.html' %} {% block title %} TRANSPORTE VERITO
E.I.R.L {%endblock %} {% block page_title %} Asistente de Gerente {%endblock %}
{% block content %}

<div class="row my-5">
  <!-- Formulario de Registro -->
  <div class="col-12 mb-5">
    <section class="form-container p-4 bg-white rounded shadow-sm">
      <h3 class="fs-4 mb-3">Detalles del chofer</h3>

      <form action="" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><label for="id_nombres">Nombres</label></td>
              <td>{{ chofer.nombres }}</td>
            </tr>
            <tr>
              <td><label for="id_apellidos">Apellidos</label></td>
              <td>{{ chofer.apellidos }}</td>
            </tr>
            <tr>
              <td>
                <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
              </td>
              <td>{{ chofer.fecha_nacimiento }}</td>
            </tr>
            <tr>
              <td><label for="id_domicilio">Domicilio</label></td>
              <td>{{ chofer.domicilio }}</td>
            </tr>
            <tr>
              <td><label for="id_telefono">Telefono</label></td>
              <td>{{ chofer.telefono}}</td>
            </tr>
            <tr>
              <td><label for="id_tipo_licencia">Tipo de licencia</label></td>
              <td>{{ chofer.tipo_licencia }}</td>
            </tr>
            <tr>
              <td><label for="id_fecha_emision">Fecha de emisión</label></td>
              <td>{{ chofer.fecha_emision}}</td>
            </tr>
            <tr>
              <td>
                <label for="id_fecha_vencimiento">Fecha de vencimiento</label>
              </td>
              <td>{{ chofer.fecha_vencimiento }}</td>
            </tr>
            <tr>
              <td><label for="id_estado_salud">Estado de salud</label></td>
              <td>{{ chofer.estado_salud}}</td>
            </tr>
            <tr>
              <td><label for="id_camion_asignado">Camion Asignado</label></td>
              <td>{{ chofer.camion.placa }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
  </div>

  <!-- Listado de Camiones -->
</div>
{%endblock %}
