{% extends 'bases/base_asistente.html' %} {% block title %} TRANSPORTE VERITO
E.I.R.L {%endblock %} {% block page_title %} Asistente de Gerente {%endblock %}
{% block content %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".aprobar-btn").forEach(button => {
          button.addEventListener("click", function () {
              let postulanteId = this.getAttribute("data-id");
              let button = this;
              fetch(`/aprobar_postulante/${postulanteId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                      "Content-Type": "application/json"
                  },
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById(`estado-${postulanteId}`).textContent = data.new_estado;
                      button.disabled = true;
                  }
              })
              .catch(error => console.error("Error:", error));
          });
      });
  });
</script>

<body>
    <div class="d-flex" id="wrapper">
                </div>
             
                  <!-- Listado de Postulantes -->
                  <div class="col-12">
                    <h3 class="fs-4 mb-3">Postulantes Registrados</h3>
                    <table class="table bg-white rounded shadow-sm table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Celular</th>
                          <th>Correo</th>
                          <th>DNI Frontal</th>
                          <th>DNI Posterior</th>
                          <th>Tipo de Licencia</th>
                          <th>Formato de Licencia</th>
                          <th>Licencia Frontal</td>
                          <th>Licencia Posterior</td>
                          <th>Licencia Electrónica</td>
                          <th>Experiencia</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for postulante in postulantes %}
                        {% if postulante.estado == "primera_pendiente" or postulante.estado == "primera_aprobada"%}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ postulante.nombres }}</td>
                          <td>{{ postulante.apellidos }}</td>
                          <td>{{ postulante.numero_celular }}</td>
                          <td>{{ postulante.correo }}</td>
                          <td>
                            {% if postulante.dni_frontal %}
                                <img src="{{ postulante.dni_frontal.url }}" alt="DNI Frontal" width="100">
                            {% else %}
                                No disponible
                            {% endif %}
                          </td>
                          <td>
                              {% if postulante.dni_posterior %}
                                  <img src="{{ postulante.dni_posterior.url }}" alt="DNI Posterior" width="100">
                              {% else %}
                                  No disponible
                              {% endif %}
                          </td>
                          <td>{{ postulante.tipo_licencia }}</td>
                          <td>{{ postulante.tipo_licencia_formato }}</td>
                          <td>
                            {% if postulante.licencia_frontal %}
                                <img src="{{ postulante.licencia_frontal.url }}" alt="Licencia Frontal" width="100">
                            {% else %}
                                No disponible
                            {% endif %}
                          </td>
                          
                          <td>
                              {% if postulante.licencia_posterior %}
                                  <img src="{{ postulante.licencia_posterior.url }}" alt="Licencia Posterior" width="100">
                              {% else %}
                                  No disponible
                              {% endif %}
                          </td>
                          
                          <td>
                              {% if postulante.licencia_electronica %}
                                  <img src="{{ postulante.licencia_electronica.url }}" alt="Licencia Electrónica" width="100">
                              {% else %}
                                  No disponible
                              {% endif %}
                          </td>
                          <td>{{ postulante.experiencia }}</td>
                          <td id="estado-{{ postulante.id }}">{{ postulante.estado }}</td>
                          <td>
                            <form method="POST" action="{% url 'aprobar_postulante' postulante.id %}">
                              {% csrf_token %}
                              <button type="submit" 
                              class="btn btn-success btn-sm"
                              data-id="{{ postulante.id }}" 
                              {% if postulante.estado == "primera_aprobada" %} disabled {% endif %}>
                              Aprobar
                              </button>
                            </form>
                            <form 
                              method="POST" 
                              action="{% url 'postulante_action' 'eliminar' postulante.id %}" 
                              style="display: inline-block;"
                            >
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                            <form 
                              method="POST" 
                              action="{% url 'postulante_action' 'rechazar' postulante.id %}" 
                              style="display: inline-block;"
                            >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm" {% if postulante.estado == "primera_rechazada" %} disabled {% endif %}>Desaprobar</button>
                            </form>
                            <a 
                              href="{% url 'detalles_postulante' postulante.id %}" 
                              class="btn btn-info btn-sm" 
                              aria-label="Mostrar detalles"
                            >
                              Detalles
                            </a>
                          </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="text-center mt-3">
                      <a href="{% url 'generar_primer_reporte_pdf' %}" class="btn btn-danger">Generar Reporte en PDF</a>
                  </div>
                  </div>
                </div>
                

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    
</body>
{%endblock %}
