{% extends 'bases/base_mantenimiento.html' %} {% block title %} Agencia de
Mantenimiento {% endblock %} {% block page_title %} Notificaciones{% endblock%}
{% block content %}
<div class="container mt-4">
  <h2>Notificaciones</h2>
  <ul class="list-group">
    {% for notificacion in notificaciones %}
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      {{ notificacion.mensaje }}
      <small class="text-muted"
        >{{ notificacion.fecha_creacion|date:"d M Y H:i" }}</small
      >
    </li>
    {% if not notificacion.leido %}
    <a
      href="{% url 'marcar_notificacion_leida' notificacion.id %}"
      class="btn btn-primary btn-sm"
      >Marcar como leída</a
    >
    {% else %}
    <span class="badge bg-success">Leído</span>
    {% endif %} {% empty %}
    <li class="list-group-item text-center">No tienes notificaciones.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
