{% extends 'bases/base_gerente.html' %} {% block title %} Dashboard de Gerente
General {% endblock %} {% block page_title %} GERENTE GENERAL {%endblock %}
{%block content %}

<div class="row my-5">
  <!-- Formulario de Registro -->
  <div class="col-12 mb-5">
    <section class="form-container p-4 bg-white rounded shadow-sm">
      <h3 class="fs-4 mb-3">Detalles del Postulante</h3>

      <form
        action="detalles_segunda"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><label for="id_nombre">Nombre/s del postulante</label></td>
              <td>{{ postulante.nombres }}</td>
            </tr>
            <tr>
              <td><label for="id_apellido">Apellidos del postulante</label></td>
              <td>{{ postulante.apellidos }}</td>
            </tr>
            <tr>
              <td><label>Tipo de Licencia:</label></td>
              <td>{{ postulante.tipo_licencia }}</td>
            </tr>
            <tr>
              <td><label>Formato de Licencia:</label></td>
              <td>{{ postulante.tipo_licencia_formato }}</td>
            </tr>
            <tr>
              <td><label>Licencia Frontal:</label></td>
              <td>
                {% if postulante.licencia_frontal %}
                <img
                  src="{{ postulante.licencia_frontal.url }}"
                  alt="Licencia Frontal"
                  width="200"
                />
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Licencia Posterior:</label></td>
              <td>
                {% if postulante.licencia_posterior %}
                <img
                  src="{{ postulante.licencia_posterior.url }}"
                  alt="Licencia Posterior"
                  width="200"
                />
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Licencia Electrónica:</label></td>
              <td>
                {% if postulante.licencia_electronica %}
                <img
                  src="{{ postulante.licencia_electronica.url }}"
                  alt="Licencia Electrónica"
                  width="800"
                />
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Referencias de Trabajos Anteriores:</label></td>
              <td>
                {% if postulante.referencias_trabajos %}
                <a
                  href="{{ postulante.referencias_trabajos.url }}"
                  target="_blank"
                  >Ver documento</a
                >
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Record de Conducción:</label></td>
              <td>
                {% if postulante.record_conduccion %}
                <a href="{{ postulante.record_conduccion.url }}" target="_blank"
                  >Ver documento</a
                >
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Historial de Papeletas:</label></td>
              <td>
                {% if postulante.historial_papeletas %}
                <img
                  src="{{ postulante.historial_papeletas.url }}"
                  alt="Historial de Papeletas"
                  width="800"
                />
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label>Antecedentes Penales:</label></td>
              <td>
                {% if postulante.antecedentes_penales %}
                <a
                  href="{{ postulante.antecedentes_penales.url }}"
                  target="_blank"
                  >Ver documento</a
                >
                {% else %} No disponible {% endif %}
              </td>
            </tr>
            <tr>
              <td><label for="id_estado">Estado</label></td>
              <td>{{ postulante.estado }}</td>
            </tr>
          </tbody>
        </table>

        <div class="text-center mt-3">
          <a href="{% url 'documentspostulante' %}" class="btn btn-secondary"
            >Volver</a
          >
        </div>
      </form>
    </section>
  </div>

  <!-- Listado de Camiones -->
</div>

{% endblock %}
