<!-- templates/shurtape/registrar_contrato.html -->
{% extends 'bases/base_gerente.html' %} {% block title %}Registrar Contrato de
Alianza{% endblock %} {% block content %}

<div class="col-12 mb-5">
  <section class="form-container p-4 bg-white rounded shadow-sm">
    <h2>Registrar Contrato de Alianza</h2>

    <form method="post" enctype="multipart/form-data" class="card p-4 shadow">
      {% csrf_token %}

      <div class="mb-3">
        <label for="solicitud" class="form-label"
          >Solicitud (solo aprobadas):</label
        >
        <select name="solicitud" id="solicitud" class="form-select" required>
          <option value="">Seleccione una solicitud</option>
          {% for solicitud in solicitudes %}
          <option value="{{ solicitud.id }}">
            {{ solicitud.descripcion }} - {{ solicitud.solicitante.username }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="empresa" class="form-label">Empresa:</label>
        <select name="empresa" id="empresa" class="form-select" required>
          <option value="">Seleccione una empresa</option>
          {% for empresa in empresas %}
          <option value="{{ empresa.id }}">{{ empresa.nombre_empresa }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="documento" class="form-label"
          >Documento del Contrato:</label
        >
        <input
          type="file"
          name="documento"
          id="documento"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Registrar Contrato</button>
    </form>
  </section>
</div>

{% endblock %}
