{% extends 'bases/base_gerente.html' %} {% block title %} Dashboard de Gerente
General {% endblock %} {% block page_title %} GERENTE GENERAL {%endblock %}
{%block content %}
<div class="row my-5">
  <!-- Detalles de la Empresa -->
  <div class="col-12 mb-5">
    <section class="form-container p-4 bg-white rounded shadow-sm">
      <h3 class="fs-4 mb-3">Detalles de la Empresa</h3>
      <form action="" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><label for="id_logo_empresa">Logo de la Empresa</label></td>
              <td>
                {% if empresa.logo_empresa %}
                <img
                  src="{{ empresa.logo_empresa.url }}"
                  alt="Logo de la Empresa"
                  style="max-width: 150px"
                />
                {% else %} No hay logo. {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_nombre_empresa">Nombre de la Empresa</label>
              </td>
              <td>{{ empresa.nombre_empresa }}</td>
            </tr>
            <tr>
              <td><label for="id_ruc_empresa">RUC</label></td>
              <td>{{ empresa.ruc_empresa }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
  </div>
</div>
{% endblock %}
